*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    margin: 5px;
    font-size: larger;
    padding: 5px;

}
h3{
    border: dodgerblue 10px solid;
    text-align: center;
    color: peru;
    background-color: pink;

}
h5{
    border: rgb(255, 187, 0) 10px solid;
    text-align: center;
    color: salmon;
    background-color: slateblue;
}
ul{
    list-style-type: none;
    display: flex;
    background-color: silver;
    justify-content: flex-end; 
    padding: 5px;
    
    
}
a:hover{
    color:yellow;
    background-color: tomato;
    margin: 25px;
}
.Team{
    display: flex;
    margin-left: 300px;   
    
}
.Team-Member{
    border:rebeccapurple 20px solid;
    
    margin-top: 20px;
    background-color: forestgreen;
}
p{
    
    padding-bottom: 20px;
    padding-top: 20px;
    background-color: salmon;
    text-align: center;
    color:palegreen;

}
.Team-Member h4{
    text-align: center;
    background-color:tomato;
    padding: 30px;
}
h1{
    text-align:center;
    margin-top: 25px;
    color:red;
    

}
.s1{
    display:flex;
    justify-content: flex-end;   
    
}

input{
    margin: 5px;
    border: none;
    border-bottom: 1px solid skyblue;
    

}
input:focus{
   outline:2px orange solid;
   
   border:none;
   
}
.s1{
    margin: 25px;
}
.s2{
    margin: 25px;
}

input[type="submit"]{
    background-color: skyblue;
    width: 170px;
    height: 30px;
    border-radius: 25px 25px;
    box-shadow:2px 2px steelblue outset;

}
   th,td{
        padding: 20px 20px 20px 20px;
    }
    table{
        padding-left: 250px;
        padding-top: 90px;
        
    }
    .active{
        color: white;
        background-color: tomato;
    }