*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    margin: 5px;
    font-size: larger;
    padding: 5px;

}
ul{
    list-style-type: none;
    display: flex;
    background-color: silver;
    justify-content: flex-end; 
    padding: 5px;
    
    
}
a:hover{
    color:yellow;
    background-color: tomato;
    margin: 25px;
}
.Team{
    display: flex;
    margin-left: 300px;   
    
}
.Team-Member{
    border:rebeccapurple 20px solid;
    
    margin-top: 30px;
    background-color: forestgreen;
}
p{
    
    padding-bottom: 20px;
    padding-top: 20px;
    background-color: salmon;
    text-align: center;
    color:palegreen;

}
.Team-Member h4{
    text-align: center;
    background-color:tomato;
    padding: 30px;
}
h1{
    text-align:center;
    margin-top: 100px;
    color:red;
    font-family: 'Poppins', sans-serif;

}
.s1{
    display:flex;
    justify-content: flex-end;   
    
}
.d1{
           
    padding-left: 500px;
}
input{
    margin: 5px;
    border: none;
    border-bottom: 1px solid skyblue;
    transform: translateX();

}
input:focus{
   outline:2px orange solid;
   -moz-outline-radius: 5px;
   border:none;
   
}
.d1{
    
    width: 300px;
    height: 300px;
    text-align: center;
    margin-left: 400px;
    background-color: opacity;
    margin: 200px;
}

input[type="submit"]{
    background-color: skyblue;
    width: 170px;
    height: 30px;
    border-radius: 25px 25px;
    box-shadow:2px 2px steelblue outset;

}
   th,td{
        padding: 20px 20px 20px 20px;
    }
    table{
        padding-left: 250px;
        padding-top: 90px;
        
    }