.fa{
    font-size:70px;
    color: blue;

    margin-top: 500px;

    
}
.fa-facebook{
    color:navy;
}      
.fa-twitter{
    color: gold;
}  
.fa-whatsapp{
    color:cadetblue;

}
.fa-instagram{
    color: forestgreen;
}